html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', sans-serif;
}

body{
    background:#f4f6f9;
}

nav{
    display:flex;
    justify-content:space-between;
    padding:20px 8%;
    background:white;
    position:fixed;
    width:100%;
    box-shadow:0 3px 10px rgba(0,0,0,0.1);
    z-index:1000;
}

nav ul{
    display:flex;
    gap:20px;
    list-style:none;
}

nav a{
    text-decoration:none;
    color:#333;
    font-weight:bold;
}

.logo{
    color:#e63946;
    font-size:22px;
}

.hero{
    height:100vh;
    background:url("images/hero.jpg") center/cover no-repeat;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    color:white;
}

.hero-content{
    background:rgba(0,0,0,0.5);
    padding:40px;
    border-radius:10px;
}

.btn{
    display:inline-block;
    margin-top:20px;
    padding:12px 30px;
    background:#e63946;
    color:white;
    border-radius:25px;
    text-decoration:none;
    transition:0.3s;
}

.btn:hover{
    background:#c9184a;
}

section{
    padding:100px 8%;
}

.about-container{
    display:flex;
    gap:40px;
    align-items:center;
}

.about-container img{
    width:50%;
    border-radius:10px;
}

.organ-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:30px;
}

.organ-card img{
    width:100%;
    height:200px;
    object-fit:cover;
    border-radius:10px;
}

.organ-card{
    text-align:center;
}

.stats{
    background:#e63946;
    color:white;
    display:flex;
    justify-content:space-around;
    text-align:center;
}

.stat-box h2{
    font-size:40px;
}

.testimonials{
    background:white;
    text-align:center;
}

.testimonial-container{
    display:flex;
    justify-content:center;
    gap:40px;
    margin-top:40px;
}

.testimonial img{
    width:120px;
    height:120px;
    border-radius:50%;
    object-fit:cover;
}

.cta{
    background:#f1faee;
    text-align:center;
}

.light{
    background:white;
}
.light h2{
    text-align: center;
}
.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:30px;
    margin-top:30px;
}

.card{
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 5px 20px rgba(0,0,0,0.1);
    transition:0.4s;
}

.card:hover{
    transform:translateY(-10px);
}

form{
    max-width:500px;
    margin:auto;
    display:flex;
    flex-direction:column;
    gap:15px;
}

input,select,textarea{
    padding:10px;
    border-radius:5px;
    border:1px solid #ccc;
}

button{
    padding:10px;
    border:none;
    border-radius:25px;
    background:#e63946;
    color:white;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#c9184a;
}


footer {
    background: black;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: auto;
}

section, header {
    margin-top: 80px;
}



@media(max-width:768px){
    nav ul{display:none;}
}
